<div class="ast-wrap" ng-class="{mask:mask}" ng-show="show" ng-click="show=false">
    <div class="ast" ng-swipe-right="swipeEvent($event, 'r')" ng-swipe-left="swipeEvent($event, 'l')" ng-class="[display, position]">
        <header class="ast-header">
            <div ng-transclude="header">
                <h4 style="text-align: center; margin: 16px 0;">header</h4>
            </div>
            <div class="ast-close" ng-transclude="close">
                <span ng-click="show = false" style="text-align: center; width: 100%; display: block; padding: 26px 16px; box-sizing: border-box; cursor: pointer;">X</span>
            </div>
        </header>
        <aside class="ast-body" ng-transclude></aside>
        <footer class="ast-footer" ng-transclude="footer">
            <h4 style="text-align: center; margin: 11px 0;">footer</h4>
        </footer>
    </div>
</div>
<div ng-show="!show && swipeToOpen" ng-swipe-right="swipeEvent($event, 'r')" ng-swipe-left="swipeEvent($event, 'l')" class="ast-swipe-show"
    ng-class="position"></div>